.error-template {
  padding: 40px 15px;
  text-align: center;
  padding-top: 10%;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
  color: black;
  background-color: #70d9ff;
  border: none;
  text-decoration: none;
}

.error-actions .btn:focus {
  background-color: #00aeef;
  color: white;
  outline: 0;
}

.error-actions .btn:hover {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(108 117 125 / 50%);
  background-color: #00aeef;
  color: white;
}
